[user]
  name = Tiso Alvarez Puccinelli
  email = 28565117+tisoap@users.noreply.github.com
[core]
  editor = code --wait
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[alias]
  ri = rebase --interactive --preserve-merges
  unstage = reset HEAD --
[rerere]
  enabled = true
