[user]
  name = Tiso Alvarez Puccinelli
  email = 28565117+tisoap@users.noreply.github.com
[core]
  editor = code --wait
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[rerere]
  enabled = true
[alias]
  pf = push --force-with-lease
  pr = pull --rebase
  ri = rebase --interactive --preserve-merges
  s = stash --include-untracked
  sp = stash pop
  l = log --oneline
