[user]
  name = Tiso Alvarez Puccinelli
  email = 28565117+tisoap@users.noreply.github.com
[core]
  editor = code --wait
  symlinks = true
  autocrlf = false
  fscache = true
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = true
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[rerere]
  enabled = true
[alias]
  p = push
  pf = push --force-with-lease
  ri = rebase --interactive
  s = stash --include-untracked
  sp = stash pop
  l = log --oneline
  f = fetch --all
  c = commit --no-verify
  ca = commit --amend --no-edit --no-verify
  dl = branch -d
  dr = push origin --delete
